ARB_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
OP_SEPOLIA_RPC=https://sepolia.optimism.io
BASE_SEPOLIA_RPC=https://sepolia.base.org
MAINNET_RPC=https://eth.llamarpc.com
SEPOLIA_RPC=https://rpc.sepolia.org

DEPLOYER_PRIVATE_KEY=0x8626f6940E2eb28930eFb4CeF49B2d1F2C9C1199

ARBISCAN_API_KEY=DE36ZZTJBGU9KD6XRBQ1QQ8HCSHVWYQTQ7 
OPTIMISTIC_ETHERSCAN_API_KEY=
BASESCAN_API_KEY=

# Chainlink VRF v2.5 (Arbitrum Sepolia)
VRF_COORDINATOR=0x5CE8D5A2BC84beb22a398CCA51996F7930313D61
VRF_KEY_HASH=0x1770bdc7eec7771f7ba4ffd640f34260d7f095b79c92d34a5b2551d6f6cfd2be
VRF_SUBSCRIPTION_ID=
VRF_LINK_TOKEN=0xb1D4538B4571d411F07960EF2838Ce337FE1E80E

# Chainlink price feed (ETH/USD on Arb Sepolia)
ETH_USD_FEED=0xd30e2101a97dcbAeBCBC04F14C3f624E67A35165
